html, body {
  margin:0;
  padding: 0;
}

h1 {
    align-items: flex-start;
    justify-content: center;
}

p {
  align-items: flex-end;
  justify-content: center;
}



.wrapper {
  background-color: #ffce89;
  max-width: 90vw;
  max-height: 93vh;
  height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#navList {
  background-color: #ffec98;
  max-width: 100vw;
  max-height: 8vh;
  min-height: 5vh;
  margin: 0px auto;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
}

#navList>ul {

}
