html, body {
  margin:0;
  padding: 0;
}

.wrapper {
  background-color: #ffce89;
  max-width: 90vw;
  height: 90vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

#navList {
  background-color: #ffec98;
  max-width: 100vw;
  max-height: 10vh;
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: left;
}

ul {
  display: flex;
  justify-content: center;
  align-items: center;
}
